@media (max-width: 768px) {
  .sidebar {
    border-radius: 0 20px 0 0;
    padding-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    background-color: #ffffff;
    z-index: 1;
  }
  .menu-photo {
    display: flex !important;
    justify-content: space-around !important;
    align-items: center;
  }
  p {
    display: block !important;
    opacity: 1 !important;
  }

  .menu-text {
    margin-left: 1em;
    color: #424f5e;
    display: block !important;
  }
  .descrip {
    opacity: 0;
  }

  .descrip {
    opacity: 1 !important;
    transition: opacity 1s ease-in-out;
  }

  .menu-content {
    display: flex;
    justify-content: left;
    padding-left: 1.5em;
    cursor: pointer;
  }

  .col-1,
  .col-2,
  .col-8 {
    display: none;
  }

  .header {
    flex-direction: column;
  }
  .main-body {
    padding-top: 0px !important;
  }
  h1,
  button,
  .input-container {
    margin: 1em 0;
    width: 90% !important;
  }
  h1,
  .input-container,
  button {
    margin: 0.5em 0 !important;
  }

  .toggleMenuIcon {
    cursor: pointer;
    z-index: 2;
  }

  .menu-list {
    display: none;
  }
  .btn-add {
    max-width: 100px;
    border-radius: 10;
    height: 2.3em;
    width: 10em;
    border: none;
    color: white;
    background-color: rgb(50, 192, 118);
  }
  .bodyContainer {
    margin: 0 !important;
    width: 100% !important;
  }
  .menu-icon {
    display: inline-block;
  }
  .descrip {
    display: inline-block;
  }
  .mobileHeader {
    display: flex;
    align-items: center;
    margin: 10% 60% 0 0;
  }
  .btn-close {
    max-width: 10px !important;
  }
  .toggleMenuIcon:hover h1 {
    display: none !important;
  }
  .sidebar {
    display: none;
  }
}

@media (min-width: 770px) {
  .toggleMenuIcon {
    display: none;
  }
}

.btn-primary {
  border-radius: 10 !important;
  height: 2.3em !important;
  width: 20em;
  border: none !important;
  margin: 1.3em 1.2em 0 0;
  background-color: rgb(50, 192, 118) !important;
}
.user-email {
  color: #c1c1cb !important;
}
.user-name {
  color: #424f5e !important;
}
.menu-icon-photo {
  height: 3.75em !important;
  width: 3.75em !important;
  border-radius: 50% !important;
}
.user-name-email {
  margin-bottom: -0.8em !important;
}
.user-permTd {
  padding: 1em 1em !important;
  border-bottom-width: 0 !important;
}
.user-imgTd {
  padding: 1em 1em 1em 2em !important;
  border-bottom-width: 0px !important;
  width: 5.5em !important;
}
.user-imgs {
  height: 4.5em;
  width: 4.5em;
  border-radius: 50%;
}
.border-secondary-subtle {
  margin: 0.1em !important;
  display: inline-block !important;
  color: #c1c1cb !important;
  padding: 0.02em 0.5em 0.1em 0.5em !important;
  border-radius: 5px !important;
  width: fit-content !important;
}
.dropdownIcon {
  padding: 1em 1em;
  border-bottom-width: 0px !important;
  width: 5em;
}
.btn-success {
  max-width: 4em;
}
.tableContainer {
  display: flex;
  align-items: center;
}
.selectPhoto {
  height: 6em;
  width: 6em;
  border-radius: 50%;
}
.site-icon {
  margin-bottom: 10px;
  width: 23px;
  height: 34px;
}

.toggleMenuIcon {
  position: relative;
  margin-right: 10%;
  margin-left: 3em;
  width: 25px;
  height: 25px;
}
.menu-icon {
  width: 25px;
  height: 25px;
}
.btn-add {
  border-radius: 10px;
  height: 2.3em;
  width: 10em;
  border: none;
  color: white;
  background-color: rgb(50, 192, 118);
}
.main-body {
  padding-top: 30px;
  height: 100vh;
  background-color: rgb(235, 235, 240);
}
.bodyContainer {
  margin: 0 10% 0 17%;
  border-radius: 0.9em;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.input-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  margin: 1.3em 0.8em 0 4em;
}

.icon {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  content: "\f007";
}

td {
  height: 7em;
}

.permission {
  border-color: blue;
}

.sidebar {
  border-radius: 0 20px 0 0;
  padding-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 200vh;
  background-color: #ffffff;
  transition: width 1s;
  overflow: hidden;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.sidebar:hover {
  width: 280px;
}
.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.sidebar:hover .menu-photo {
  display: flex !important;
  justify-content: space-around !important;
  align-items: center;
}
p {
  display: none;
  opacity: 0;
}

.sidebar:hover p {
  display: block;
  opacity: 1;
}
.menu-text {
  margin-left: 1em;
  color: #424f5e;
  display: none;
}
.descrip {
  opacity: 0;
}
.sidebar:hover .menu-text {
  display: inline-block;
}
.sidebar:hover .descrip {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.sidebar:hover .menu-content {
  display: flex;
  justify-content: left;
  padding-left: 1.5em;
  cursor: pointer;
}

.menu {
  list-style: none;
  text-align: center;
}

.menu li {
  padding: 20px;
}
.editbtn {
  width: unset !important;
  width: 15;
  border-radius: 10;
  height: 2.3em;
  border: none;
  color: white;
  background-color: rgb(50, 192, 118);
}
.menu li a {
  color: #fff;
  text-decoration: none;
}

.menu li:hover {
  background-color: rgb(224, 224, 224);
}

.dropbtn {
  color: rgb(50, 192, 118);
  height: 2em;
  width: 2em;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.dropbtns {
  color: rgb(50, 192, 118);
  height: 20px;
  width: 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  padding: 10px 10px;
  width: 50px;
  background-color: #efeff6;
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.buttons {
  display: block;
  border: none;
  padding-bottom: 5px;
}

.dropdown-content a {
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #818181;
}

.title {
  margin: 0.6em 1em 0 1em;
  font-size: 2em;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
